.register {
    display: flex;
    justify-content: center;
}
.register form {
    margin: 50px 0;
    padding: 40px;
    width: 400px;
    display: grid;
    grid-template: 30px 30px 30px 80px 30px / 2fr 4fr;
    grid-gap: 20px;
    font-family: Roboto, sans-serif;
    color: #dcdcdc;
    background: #1c222a;
    border-radius: 20px;
}
.register form label {
    display: flex;
    align-items: center;
    justify-content: end;
}
.register form input {
    border-radius: 5px;
    border: none;
    outline: none;
    text-indent: 5px;
}
.register form .remain-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 2;
}
.register form .submit {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register form .submit button {
    border: 1px solid #edb021;
    border-radius: 10px;
    color: #edb021;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    background: none;
    padding: 0 10px;
    height: 40px;
}
.register form .submit button:hover {
    box-shadow: 0 0 10px #edb021;
    background: #edb021;
    color: #1c222a;
}
.register form .submit a {
    margin: 10px;
    color: #edb021;
    text-decoration: none;
}
.register form .submit a:hover {
    color: #dcdcdc;
    text-shadow: 0 0 10px #edb021;
}
.register form .flash {
    grid-column: 1 / span 2;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: #dcdcdc;
    text-shadow: 0 0 10px red;
    margin: 10px;
}