@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background: #dcdcdc;
}
header {
    display: grid;
    grid-template: 60px / 100px 4.5fr 1fr 0.5fr 1fr;
    background: #1c222a;
}
header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo a {
    color: #dcdcdc;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
header .logo a:hover {
    color: #dcdcdc;
    text-shadow: 0 0 10px #edb021;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header nav .dropdown-menu {
    display: none;
}
header nav .menu-points {
    margin: 20px;
    color: #edb021;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}
header nav .menu-points:hover {
    margin: 20px;
    color: #dcdcdc;
    text-shadow: 0 0 10px #dcdcdc;
}
header form{
    display: flex;
    align-items: center;
}
header input {
    outline: none;
    height: 35px;
    border: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    text-indent: 10px;
    background: #dcdcdc;
}
header form button {
    height: 35px;
    width: 35px;
    background: #dcdcdc;
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header form i {
    color: #1c222a;
}
header form i:hover {
    color: darkgray;
}
header .cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .cart a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edb021;
    font-size: 25px;
    height: 100%;
    text-decoration: none;
    margin: 0 10px 0 20px;
}
header .cart i {
    position: relative;
}
header .cart i:hover {
    color: #dcdcdc;
    text-shadow: 0 0 10px #dcdcdc;
}
header .cart .badge {
    position: absolute;
    right: -5px;
    top: 0;
    border: 1px solid #edb021;
    box-shadow: -2px 1px 2px #1c222a;
    box-sizing: border-box;
    background: #1c222a;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .cart .badge p {
    font-size: 10px;
    font-family: Roboto, sans-serif;
}
header .cart .flag {
    width: 20px;
    height: 12px;
}
header .cart .dropdown-flags {
    display: block;
    align-items: center;
    position: relative;
    margin: 0 10px;
}
header .cart .dropdown-flags-button {
    padding: 0;
    border: none;
    height: 12px;
}
header .cart .dropdown-flags-content {
    display: none;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
header .cart .dropdown-flags-content a {
    margin: 5px 5px;
}
header .cart .dropdown-flags-content p {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #dcdcdc;
    margin: 0 0 0 5px;
}
header .cart .dropdown-flags:hover .dropdown-flags-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
header .cart .dropdown-flags-content .flags {
    width: 20px;
}
header .cart .flag:hover {
    box-shadow: 0 0 10px 2px #dcdcdc;
}
header .auth {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .auth a {
    font-family: Roboto, sans-serif;
    color: #edb021;
    text-decoration: none;
    border: 1px solid #edb021;
    border-radius: 5px;
    padding: 7px;
}
header .auth a:hover {
    color: #1c222a;
    background: #edb021;
    box-shadow: 0 0 10px #edb021;
}
@media (max-width: 850px){
    header nav .menu-points {
        display: none;
    }
    header nav .dropdown-menu {
        display: inline-block;
        margin: auto 20px;
        color: #edb021;
        font-size: 30px;
    }
    header nav .dropdown-menu-content {
        left: 70px;
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        padding: 5px;
        border-radius: 5px;
        width: auto;
        z-index: 1;
    }
    header nav .dropdown-menu:hover {
        color: #dcdcdc;
        text-shadow: 0 0 10px #dcdcdc;
    }
    header nav .dropdown-menu:hover .dropdown-menu-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    header nav .dropdown-menu .dropdown-menu-points {
        font-family: Roboto, sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: #dcdcdc;
        margin: 10px 5px;
    }
    header nav .dropdown-menu .dropdown-menu-points:hover {
        color: #edb021;
    }
    header .cart .flag {
        width: 25px;
        height: 15px;
    }
    header .cart .dropdown-flags-content {
        left: -40px;
    }
    header .cart .dropdown-flags-content .flags{
        width: 25px;
    }
    header .cart .dropdown-flags-content p {
        font-size: 25px;
    }
}

footer {
    display: grid;
    grid-template: 1fr 0.6fr / 1fr 1fr 1fr;
    justify-content: space-around;
    background: #1c222a;
}
footer .footer-column {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    display: inline-block;
}
footer .footer-column p {
    color: #dcdcdc;
    display: block;
    margin: 20px auto;
    width: 60%;
}
footer .footer-column a {
    color: #6a655d;
    text-decoration: none;
    display: block;
    width: 60%;
    margin: auto;
}
footer .footer-column a:hover {
    color: #dcdcdc;
    text-shadow: 0 0 5px #edb021;
}
footer .footer-row {
    grid-column: 1 / span 3;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer .footer-row .footer-info {
    text-align: justify;
    color: #dcdcdc;
    font-size: 15px;
    width: 50%;
}
footer .footer-row .footer-date {
    text-align: center;
    color: #6a655d;
    font-size: 12px;
    width: 70%;
    margin: 0 0 12px 0;
}