{% extends "menu.html" %}

{% block title%}Добавление товара{% endblock %}
{% block link%}<link rel="stylesheet" href="{{ url_for('static', filename = 'css/admin_item_add.css') }}">{% endblock %}

{% block content %}
    <section>
        <form method="post" enctype="multipart/form-data">
            <h3>Добавить товар</h3>
            <div class="form">
                <label for="name">Наименование</label>
                <input id="name" name="name" type="text">
                <label for="category">Категория</label>
                <select id="category" name="category">
                    {% for category in categories %}
                        <option value="{{ category.category }}">{{ category.category }}</option>
                    {% else %}
                        <option value="Без категории">Без категории</option>
                    {% endfor %}
                </select>
                <label for="description">Описание</label>
                <textarea rows="10" id="description" name="description"></textarea>
                <label for="image1">Изображение 1</label>
                <input id="image1" name="image1" type="file" accept="image/jpeg,image/png">
                <label for="image2">Изображение 2</label>
                <input id="image2" name="image2" type="file" accept="image/jpeg,image/png">
                <label for="image3">Изображение 3</label>
                <input id="image3" name="image3" type="file" accept="image/jpeg,image/png">
                <label for="image4">Изображение 4</label>
                <input id="image4" name="image4" type="file" accept="image/jpeg,image/png">
                <label for="price">Стоимость</label>
                <input id="price" name="price" type="text">
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </section>
{% endblock %}