<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/menu.css') }}">
    {% block link %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'font-awesome/css/font-awesome.min.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">Magazon</a>
        </div>
        <nav>
            <div class="dropdown-menu">
                <div class="dropdown-menu-button">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="dropdown-menu-content">
                    <a class="dropdown-menu-points" href="#">Каталог</a>
                    <a class="dropdown-menu-points" href="#">Поддержка</a>
                    <a class="dropdown-menu-points" href="#">FAQ</a>
                </div>
            </div>
            <a class="menu-points" href="#">Каталог</a>
            <a class="menu-points" href="#">Поддержка</a>
            <a class="menu-points" href="#">FAQ</a>
        </nav>
        <form>
            <input type="search" placeholder="поиск..." name="search">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <div class="cart">
            <a href="#">
                <i class="fa fa-shopping-cart">
                    <div class="badge">
                        <p>3</p>
                    </div>
                </i>
            </a>
            <div class="dropdown-flags">
                <button class="dropdown-flags-button">
                    <img class="flag" src="{{ url_for('static', filename='img/ru.png') }}">
                </button>
                <div class="dropdown-flags-content">
                    <a href="#">
                        <img class="flags" src="{{ url_for('static', filename='img/ru.png') }}">
                        <p>русский</p>
                    </a>
                    <a href="#">
                        <img class="flags" src="{{ url_for('static', filename='img/us.png') }}">
                        <p>english</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="auth">
            <a href="#">Войти</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-column">
            <p>Покупателям</p>
            <a href="#">Способы оплаты</a>
            <a href="#">Возврат товара</a>
            <a href="#">Доставка</a>
            <a href="#">Возврат денежных стредств</a>
            <a href="#">Политика обработки персональных данных</a>
        </div>
        <div class="footer-column">
            <p>Компания</p>
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
            <a href="#">Вакансии</a>
        </div>
        <div class="footer-column">
            <p>Мы в соцсетях</p>
            <a href="#">Instagram</a>
            <a href="#">Telegram</a>
            <a href="#">Вконтакте</a>
        </div>
        <div class="footer-row">
            <p class="footer-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam aspernatur autem debitis dignissimos distinctio esse magni maiores nemo repudiandae vitae?
            </p>
            <p class="footer-date">by Bridges 2023</p>
        </div>
    </footer>
</body>
</html>