<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'font-awesome/css/font-awesome.min.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">Magazon</a>
        </div>
        <nav>
            <a href="#">Каталог</a>
            <a href="#">Поддержка</a>
            <a href="#">FAQ</a>
        </nav>
        <form>
            <input type="search" placeholder="поиск..." name="search">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <div class="cart">
            <a href="#">
                <i class="fa fa-shopping-cart">
                    <div class="badge">
                        <p>3</p>
                    </div>
                </i>
            </a>
            <div class="dropdown-flags">
                <button class="dropdown-flags-button">
                    <img class="flag" src="{{ url_for('static', filename='img/ru.png') }}">
                </button>
                <div class="dropdown-flags-content">
                    <a href="#">
                        <img class="flags" src="{{ url_for('static', filename='img/ru.png') }}">
                        <p>русский</p>
                    </a>
                    <a href="#">
                        <img class="flags" src="{{ url_for('static', filename='img/us.png') }}">
                        <p>english</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="auth">
            <a href="#">Войти</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>

    </footer>
</body>
</html>